.rates_container{
  width: var(--largura_conteiner_principal_mobile);
  margin: auto;
  padding-top: 40px;
}

.rates_container__options {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--cor_primaria);
  padding-top: 40px;
}

.option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
}

.option__title {
  font-family: 'Volkhov', serif;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.option__icon {
  width: 80px;
  height: 80px;
  margin: 0 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__img {
  object-fit: contain;
  width: 80%;
  height: 80%;
}