.container_CTA{
  width: var(--largura_conteiner_principal_mobile);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.btn_CTA{
  width: 100%;
  max-width: 300px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  background: var(--cor_secundaria);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  -webkit-transition: background-color 0.9s ease-in-out;
  -ms-transition: background-color 0.9s ease-in-out;
  transition: background-color 0.9s ease-in-out;
}

.btn_CTA:hover {
  background-color: var(--cor_primaria);
}

@media screen and (min-width: 560px) {

}

@media screen and (min-width: 830px) {
  .container_CTA {
    width: var(--largura_conteiner_principal);
  }
}

@media screen and (min-width: 1000px) {
  .container_CTA {
    width: var(--largura_conteiner_principal_grande);
  }
}