.swiper-wrapper {
  overflow: hidden;
  position: relative;
  background: url("../../img/noise.png") #e4e4e45c;
}

.swiper-button-prev, .swiper-button-next {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: calc(50vh + 40px);
}

.swiper-button-prev { left: 10vw; }

.swiper-button-next { left: calc(10vw + 60px); }

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  font-size: 2em;
  color: black;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 2em;
  color: black;
}

.swiper-pagination-bullet-active { background-color: #282c34; }
.container_image {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.container_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure_caption {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: black;
  color: white;
  writing-mode: tb-rl;
  padding: 20px 10px;
  transition:  1s ease-in-out;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14pt;
}

.posicao_item {
  font-family: 'Volkhov', serif;
  position: absolute;
  color: var(--cor_complementar_01);
  font-size: 80px;
  top: -6px;
  right: 40px;
}

.swiper-slide-active > .container_image > .figure_caption { left: 0; }

.container_text {
  opacity: 0;
  /* background-color: white; */
  width: 100%;
  min-height: 50vh;
  left: 0;
  padding: 70px 10vw 20px 10vw;
  margin-top: calc(50vh + 20px);
  text-align: left;
  position: relative;
}

.container_text > ul li{
  padding-left: 1em;
  list-style: none;
  position: relative;
  padding-bottom: 1em;
}

.container_text > ul li::before {
  content: "";
  height: 0.5em;
  width: 0.5em;
  background-color: var(--cor_secundaria);
  position: absolute;
  margin-left: -0.9em;
  border-radius: 50%;
  top: 0.5em
}

.swiper-slide-active > .container_text {
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets {
  position: absolute;
  top: 50vh;
  bottom: initial;
  height: 20px;
  /* border: solid 1px black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .container_image {
    width: 500px;
    height: 500px;
    position: inherit;
    justify-self: flex-end;
  }
  .container_text {
    /* background-color: #ef6c00; */
    width: 500px;
    height: 500px;
    margin-top: inherit;
    padding: 100px 0 0 100px;
  }

  .posicao_item {
    left: 40px;
    right: inherit;
    font-size: 110px;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    position: absolute;
    /* border: solid 1px black; */
    width: 1000px;
    top: 620px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .swiper-button-next, .swiper-button-prev {
    left: inherit;
    width: 50px;
    height: 50px;
    top: calc(60vh + 40px);
  }
  .swiper-button-next {
    right: calc(10vw + 60px);
  }

  .swiper-button-prev {
    right: calc(10vw + 130px);
  }
}