.swiper-slide {
    border: solid 1px;
  }
  
.swiper-button-prev  {
  /* background-color: black; */
  border: solid 2px black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 10vw;
  top: calc(50% + 40px);
}

.swiper-button-next  {
  /* background-color: black; */
  border: solid 2px black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: calc(10vw + 60px);
  top: calc(50% + 40px);
}
.container_image {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
}

.container_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure_caption {
  position: absolute;
  bottom: 0;
  left: -100%;
  background: black;
  color: white;
  writing-mode: tb-rl;
  padding: 20px 10px;
  transition:  1s ease-in-out;
}

.swiper-slide-active > .container_image > .figure_caption {
  /* background-color: lime; */
  left: 0;
  
}



.container_text {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  padding: 70px 10vw 20px 10vw;
  top: 50%;
  text-align: left;
}

.swiper-horizontal>.swiper-pagination-bullets {
  position: absolute;
  top: calc(50% - 20px);
  bottom: initial;
  height: 20px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}