.container_VideoSection {
  max-width: 100%;
  width: 100vw;
  height: 440px;
  position: relative;
  overflow: hidden;
}

.container__highlight {
  width: var(--largura_conteiner_principal_mobile);
  min-height: 10vh;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  margin: auto;
}

.highlight__phrase {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  color: #fff;
  text-shadow: 1px 1px 5px var(--dark_collor);
  line-height: 1.1;
  letter-spacing: 1px;
}