@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&family=Volkhov:ital,wght@1,700&family=Work+Sans:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap');

:root {
  /*breakpoints*/
  /*
  --breakpoint-small: 560px;
  --breakpoint-medium: 830px;
  --breakpoint-large: 1000px;
  --breakpoint-xlarge: 1200px; */

 /*Primaria*/
 --cor_primaria:  #00323F;
 --cor_primaria_light: #335b6a;
 --cor_primaria_extraLight: #00AFDB;
 --cor_primaria_dark: #000b19;

  /*Secundária*/
  --cor_secundaria: #ef6c00;
  --cor_secundaria_light: #ff9d3f;
  --cor_secundaria_dark: #b53d00;

  /*Complementares*/
  --cor_complementar_01: #E6E0BA;
  --cor_complementar_02: #EBC08A;
  --cor_complementar_03: #CC7C53;

  /*grid*/
  --grid_2colunas_UmaColuna: calc(100% * 1/2);
  --grid_3colunas_UmaColuna: calc(100% * 1/3);
  --grid_3colunas_DuasColunas: calc(100% * 2/3);

 /*tamanho */
 --largura_conteiner_principal_mobile: 80%;
 --largura_conteiner_principal: 90%;
 --largura_conteiner_principal_grande: 60%;
}


body {
  font-family: 'Titillium Web', sans-serif;
  color: var(--cor_primaria);
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 42px;
  padding-bottom: 20px;
}

h2 {
  color: var(--cor_primaria);
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
}

p, li, a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 17px;
}