@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&family=Volkhov:ital,wght@1,700&family=Work+Sans:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap');

body {
  --dark_collor: #00323F;

   /*Secundária*/
   --cor_secundaria: #ef6c00;
   --cor_secundaria_light: #ff9d3f;
   --cor_secundaria_dark: #b53d00;

   /*Complementares*/
   --cor_complementar_01: #E6E0BA;
   --cor_complementar_02: #EBC08A;
   --cor_complementar_03: #CC7C53;

   /*grid*/
   --grid_3colunas_UmaColuna: calc(100% * 1/3);
   --grid_3colunas_DuasColunas: calc(100% * 2/3);

  /*tamanho */
  --largura_conteiner_principal_mobile: 80%;
  --largura_conteiner_principal: 90%;
  --largura_conteiner_principal_grande: 75%;

  font-family: 'Titillium Web', sans-serif;
  color: var(--dark_collor);
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 42px;
  padding-bottom: 20px;
}

h2 {
  color: var(--cor_primaria);
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 12px;
}

p, li, a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

li > strong {
  font-size: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
